
@font-face {
  font-family:"sf-pro-display_heavy";
  src: url(../fonts/sf-pro-display_heavy.woff2);

}
@font-face {
  font-family:"sf-pro-display_regular";
  src: url(../fonts/sf-pro-display_regular.woff2);
}
@font-face {
  font-family:"sf-pro-display_semibold" ;
  src: url(../fonts/sf-pro-display_semibold.woff2);
}
 @font-face {
   font-family:"sf-pro-icons_regular";
   src: url(../fonts/sf-pro-icons_regular.woff2);
 }
@font-face {
  font-family:"sf-pro-text_regular" ;
  src: url(../fonts/sf-pro-text_regular.woff2);
}

@font-face {
  font-family:"sf-pro-text_semibold";
  src: url(../fonts/sf-pro-text_semibold.woff2);
}
@font-face {
  font-family: "SF-Pro";
  src: url(../fonts/SF-Pro.dmg);
}


body{
  margin: 0;
  width: 100vw;
  display: grid;
  justify-content: space-around;
  overflow-x: hidden;  
}
.main{
  width: 100vw;
  display: grid;
  justify-content: space-around;
}

.nav-fixer{
  height: 44px;
  width:     1250px;
  display:flex;
  justify-content:space-between;
position: fixed;
z-index: 10;
}

.navigator{
  background: rgba(0,0,0,0.9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  height: 44px;
  display:flex;
  justify-content:space-around;
  width: 100vw;
position: fixed;
z-index: 10;

}

img{
  cursor: pointer;
}

.nav-txt{
  
font-size: 14px;
line-height: 2.143;
font-weight: 400;
letter-spacing: -.01em;
font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: #f5f5f7 !important;
opacity: 0.8 !important;
position: relative;
display: inline-block;
cursor: pointer;
}

.shop-icon{
  /* padding-right:7em ; */
  opacity: 0.8;
  cursor: pointer;
}
 .search-icon{
width: 1.7em;
cursor: pointer;
opacity: 0.9;
 }

 .apple-icon{
  cursor: pointer;
  opacity: 0.8;
  /* padding-left:7em ; */
 }
 .ribbon-icon{
   padding-right: 7em;
 }

 .ribbon-txt{
  font-size: 14px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #000;
  position: relative;
  display: inline-block;
  opacity: 0.8;
 }
 .ribbon-link{
  font-size: 14px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  position: relative;
  display: inline-block;
  opacity: 0.8;
 }
 .ribbon-bar{
  background-color: #f5f5f7; ;
  height: 44px;
  display:flex;
  justify-content:space-around;
  margin-top: 44px;
}

.box-1 {
width: 102vw;
margin-bottom: 1em;
/* height: 100vh; */
display: grid;
justify-content: center;
align-content: center;
background-color: #fbfbfd;
overflow: hidden;
}

.link-wapper-1{
  margin-top: 3em;
}

.link-iphone{
  display: flex;
  justify-content: space-around;
  font-size: 64px;
 line-height: 1.47059;
 font-weight: 1000;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #1d1d1f;
 font-style: normal;

}

.link-blast{
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  text-decoration: none;
  position: relative;
  display: inline-block;
  opacity: 0.99;
}

span{
  font-size: 14px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
}

.link-cost{
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  text-decoration: none;
  position: relative;
  display: inline-block;
  opacity: 0.6;
 
}

.link-buy{
  display: flex;
  justify-content:space-around;

  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  text-decoration: none;
  position: relative;
  display: inline-block;
  opacity: 0.6;
  
}

.link-buy-1{

  font-size:20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 1em;
  
}

.link-buy-1:hover{
  text-decoration: underline ;
  cursor: pointer ;
}

.link-learn-more{

  justify-content:space-around;
  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-right: 1em;

}

.wapper-link{
  display: flex;
  justify-content: space-around;
}

.txt-link{
  text-decoration: none;
letter-spacing: inherit;
text-decoration: none;
display: flex;
justify-content: center;
cursor: pointer;
}

.back-img-box-1
{
  position:relative;
  /* height: 82vh; */
}
.back-img-1
  { /*  height: 57vh; */
  width: 78vw;
}

.box-2{
  background-color: black;
  width: 102vw;
  /* height: 100vh; */
  display: grid;
  justify-content: center;
  align-content: center;
margin-bottom: 1em;
overflow: hidden;
}  

.link-wapper-2{
  padding: 3em;
  width: 90vw;
  /* height: 35vh; */
  display: grid;
  justify-content: center;
  align-content: center;
}

.back-img-box-2{
  position:relative;
  /* height: 100vh; */
  /* width: 100vw; */
  margin-top: auto;
  margin-bottom: auto;
}
.back-img-2
{     
  /* height: 44vh; */
  width: 93vw;

}

.link-iphone-1{
  display: flex;
  justify-content: center;
  font-size: 64px;
 line-height: 1.47059;
 font-weight: 1000;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #fbfbff;
 font-style: normal;

}

.link-blast-1{
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.99;
}

.link-cost-1{
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
 
}

.link-buy-3{
  display: flex;
  justify-content:center;
  font-size: 18px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
  
}

.link-buy-4{
  justify-content:center;
  font-size:20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-left: 1em;
  
}

.link-learn-more-1{
  justify-content:center;
  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-right: 1em;

}


/* add arrow to end of link >*/
.arrow-link:after {
  display: inline-block;
  font-family: "sf-pro-icons_regular";
  content: "";
letter-spacing: -.01em;
line-height: 2.143;
padding-left:4px;
text-decoration: none;
}
/* add arrow to end of link -> */
.arrow-link-1:after {
  content:url(../image/arrow-link-1.jpg);
  padding-left:7px;

  }

  /* add arrow to end of link -> */
  .arrow-link-6:after {
    display: inline-block;
    font-family: "sf-pro-icons_regular";
    content: "";
    letter-spacing: -.01em;
    line-height: 2.143;
    padding-left:4px;
    text-decoration: none;
    }
  

.box-3{
  background-color: black;
  width: 102vw;
  /* height: 100vh; */
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
  overflow: hidden;
}  

.link-wapper-3{
  padding-top: 3em;
  /* height: 35vh; */
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
}

.back-img-box-3{
  position:relative;
  /* height: 100vh; */
  /* width: 100vw; */
  margin-top: auto;
  margin-bottom: auto;
}
.back-img-3
{     
  /* height: 55vh; */
  width: 99vw;
}

.link-iphone-2{
  display: flex;
  justify-content: center;
  font-size: 64px;
 line-height: 1.47059;
 font-weight: 1000;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #fbfbff;
 font-style: normal;

}

.link-blast-2{
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.99;
}


.link-buy-5{
  justify-content:center;
  font-size:20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-left: 1em;
  
}

.link-learn-more-2{
  display: flex;
  justify-content:center;
  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-right: 1em;

}

.box-4{
  margin-bottom: 1em;
  background-color:white;
  width: 102vw;
  /* height: 79vh; */
  display:flex;
  justify-content: center;
  align-content: center;


}  

.apple-icon-2{
  cursor: pointer;
 
  width: 52px;
  height: 53px;
 }

.apple-icon-1{
  cursor: pointer;
  width: 65px;
  height: 74px;
 }
 .link-wapper-2-right{


  display:flex;
  justify-content:center;

 }

.link-wapper-right{
  margin-top: 3.5em;
  margin-bottom: 1em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.link-wapper-left{
  margin-top: 5em;
  margin-bottom: 2em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



.link-wapper-left-1{
  margin-top: 3em;
  margin-bottom: 2em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.back-img-right
{     
  /* height: 47vh; */
  width: 49vw;
}
.back-img-left
{     
  /* height: 46vh; */
  width: 49vw;
}

.link-iphone-left{
  display: flex;
  justify-content: center;
  font-size: 62px;
 line-height: 1.47059;
 font-weight: 600;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #000000;
 font-style: normal;

}

.link-iphone-5{
  display: flex;
  justify-content: center;
  font-size: 45px;
 line-height: 1.47059;
 font-weight: 600;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #000000;
 font-style: normal;

}


.link-iphone-right{

  font-size: 45px;
  line-height: 1.9;
 font-weight: 700;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #ffffff;
 font-style: normal;
 text-align: center;
 position: relative;
 display: inline-block;
}

.red-link{
  display: flex;
  justify-content:space-around;
  font-size: 17px;
  padding-left: 32px;
line-height: 1.47059;
font-weight: 600;
letter-spacing: 0.1em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #a30a0a;
 font-style: normal;
 text-align: center;
 text-decoration: none;
}

.span-black{
  font-size: 18px;
line-height: 1.47059;
font-weight: 600;
letter-spacing: 0.1em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: black;
 font-style: normal;
 text-align: center;
 text-decoration: none;
}

.link-blast-right{
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.99;
}
.link-blast-left{
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #000000;
  text-decoration: none;
  opacity: 0.99;
}

.link-buy-right{

  font-size:20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-left: 1em;
  
}

.wapper-link-1-left{

    display: flex;
    justify-content: center;

}

.wapper-link-1-right{

  display: flex;
  justify-content: center;

}

.link-buy-left{
 
  font-size:20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-left: 1em;
  
}

.link-learn-more-left{ 

  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-right: 1em;

}

.link-learn-more-right{ 

  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-right: 1em;

}

.box-4-right{
  width: 49vw;
height: 71vh;
display: grid;
justify-content: space-around;
background-color: black;
margin-left:0.5em;
margin-right:2em;
overflow: hidden;
}

.box-4-left{
  width: 49vw;
height: 71vh;
  display: grid;
  justify-content: space-around;
  background-color: #fafafa;
  margin-left:2em;
margin-right:0.5em;
overflow: hidden;
}


.box-5-left{
  width: 49vw;
  height: 71vh;
  display: grid;
  justify-content: space-around;
  background: url(../image/box-6.jpg) no-repeat;
  background-size:49vw, 71vh, contain;
  margin-left:2em;
margin-right:0.5em;
overflow: hidden;
}

.box-5-right{
  width: 49vw;
  height: 71vh;
  display: grid;
  justify-content: space-around;
  background: url(../image/box-7.jpg) no-repeat;
  background-size:49vw, 71vh, contain;
  margin-left:0.5em;
  margin-right:2em;
  overflow: hidden;
}


.box-5{
  
  background-color:white;
  width: 102vw;
  /* height: 79vh; */
  display:flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
  overflow: hidden;
}  


/* -------------box-6------------- */
.box-6-left{
  width: 49vw;
height: 71vh;
display: grid;
justify-content: space-around;
background: url(../image/card.jpg) center center no-repeat #fbfbfd;
    background-size: auto;
background-size: 49vw, 71vh, cover;
margin-left:2em;
margin-right:0.5em;
overflow: hidden;
}

.link-iphone-left-6{
  display: flex;
  justify-content: center;
  font-size: 45px;
  line-height: 1.471;
  font-weight: 700;
 letter-spacing: -.022em;
 font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #000000;
 font-style: normal;

}

.link-iphone-right-6
{
  font-size: 56px;
line-height: -1px;
font-weight: 501;
letter-spacing: 0.05em;
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 color: #ffffff;
 font-style: normal;
 text-align: center;
 position: relative;
 display: inline-block;
}

.link-blast-left-6{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  text-decoration: none;
  position: relative;
  opacity: 0.99;
}

.link-learn-more-left-6{ 
  display: flex;
  justify-content:center;
  font-size: 20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-right: 1em;
}

.link-buy-left-6{
  display: flex;
  justify-content:center;
  font-size:20px;
  line-height: 2.143;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #06c;
  text-decoration: none;
  margin-left: 1em;
  
}


.box-6-right{
  width: 49vw;
  height: 71vh;
display: grid;
justify-content: space-around;
background: url(../image/story.jpg) top center no-repeat;
    background-size: auto;
background-size: 49vw, 71vh, cover;
overflow: hidden;
margin-left:0.5em;
margin-right:2em;
}


.box-6{
  
  background-color:white;
  width: 102vw;
  /* height: 87vh; */
  display:flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
  overflow: hidden;
}  

.link-wapper-3-right{

 display:flex;
 justify-content:center;
 margin-top: 3.5em;
}

/* show player icon */
.arrow-link-2:after {
  content:url(../image/player.png);
  padding-left:7px;
 padding-top: 4px;
  }


    .location-link-1 {
      margin-top: 55vh;
      margin-bottom: 4em;

  }

  .master-wapper-bottom
  {
  
    display: grid;
    justify-content:space-around;
    background-color: #f5f5f7;
    width: 102vw;
    /* height: 117vh; */
  }

  .box-7{
background-color: #f5f5f7;
width: 102vw;
/* height: 108vh; */
display: grid;
justify-content: center;
align-content: center;
margin-top: 0.5em;
padding: 1.5em;

  }  

  .box-7-txt{
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #686868;


    }

    .box-7-txt-1 {
      font-size: 12px !important;
      line-height: 1.8 !important;
      font-weight: 400 !important;
      letter-spacing: -.01em !important;
      font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif !important;
      color: #000 !important;
      opacity: 0.9 !important;
      cursor: pointer !important;
  
      }


.box-8{
background-color: #f5f5f7;
width: 102vw;
/* height: 70vh; */
display: flex;
justify-content:center;
align-content: center;
  }  

  .box-8-fixer{
    width:     1250px;
    display: flex;
justify-content:center;
align-content: center;
  }

  .box-7-fixer{
    width:     1250px;
    display:block;
margin-left: auto;
margin-right: auto;
  }

.footer-box-fixer{
  padding-left: 1.5em;
  width: 102vw;
  display: flex;
  justify-content:center;
  align-content: center;
}
  .txt-box-8{
    font-size: 12px;
line-height: 2.143;
font-weight: 400;
letter-spacing: -.01em;
font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: rgb(112, 112, 112);
  }

.footer-box{
  background-color: #f5f5f7;
  width:     1250px;
  display: grid;
  align-content: center;
  margin-bottom: 1em;
}

  .footer-wapper{
    
    background-color: #f5f5f7;
    width:102vw;
    /* height: 15vh; */
    display: flex;
    align-content: center;
    margin-top: 0.5em;
    padding: 1.5em 0em 0.7em 0em;


  }

  h1{
cursor:default;
    font-size: 13px;
    line-height: 2.143;
    font-weight: 700;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(46, 46, 46) !important;
    opacity:1 !important;
  }

  .footer-1{
    display: flex;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.143;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(90, 90, 90);
text-decoration: none;

text-align:center;
margin-bottom: 0;
margin-top: 0;
  }

  .footer-link{
    display: flex;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.143;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(58, 58, 58);
    opacity: 0.8;
text-decoration: none;
cursor: pointer;
text-align:center;
margin-bottom: 0;
margin-top: 0;
  }


  .legal-right-margin{
    margin-left: 32em;
  }
  .footer-end-1{
    display: grid;
    justify-content: left;
    text-decoration: none;
    text-align:center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .footer{
    display: flex;
    text-decoration: none;
  }
  .footer-span{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.143;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color:#06c !important;
    opacity: 1 !important;
letter-spacing: inherit;
text-decoration: none;
cursor: pointer;
text-align:center;
margin-left: 0.6em;
margin-right: 0.6em;
  }
  .foot-top{
    margin-left: 0.6em;
    margin-right: 0.6em;
  }

.border-1{
    border-bottom: solid #bbb 1px; 
}

.border-2{

width:     1250px;
 margin-left:0em;
 height: 0px;
 color: #bbb;
 opacity: 0.3;
}
.border-wapper{
  display: flex;
  justify-content: center;
  text-align:center;
 
}

.sub-footer{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.sub-footer-start{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.sub-footer-end{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.link-trans{
  transition: opacity 0.3s !important;
}
.link-trans:hover{
  opacity:1 !important;
}
.link-hover:hover{
  text-decoration: underline !important;
  cursor: pointer !important;
}

.try-hover:hover{
  text-decoration: underline !important;
  cursor: pointer !important;
}




@media screen and (min-width: 2800px) {
  .link-wapper-3-right {
    display: flex;
    justify-content: center;
    margin-top: 9.5em;
}

.link-wapper-right {
  margin-top: 8.5em;
  margin-bottom: 1em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.link-wapper-left-1 {
  margin-top: 8.5em;
  margin-bottom: 2em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link-wapper-left {
  margin-top: 9.6em;
  margin-bottom: 2em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}

@media screen and (max-width:1450px) {
  .link-wapper-3-right {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


.location-link-1 {
  margin-top: 53.8vh;
  margin-bottom: 4em;
}

.link-wapper-left {
  margin-top: 3em;
  margin-bottom: 2em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link-wapper-right {
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.link-wapper-left-1 {
  margin-top: 0.9em;
  margin-bottom: 2em;
  width: 49vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}









